{% extends "photogallery/base_site.html" %}
{% load widgets cache imageprocess %}

{% block content %}

{% if album %}
<h3>{{ album.title }}</h3>
{% endif %}

<div id="PhotoList" class="photo_list">
{% for photo in photos %}
{% block content_photo %}
    <div class="photo">
        <a href="{% url photogallery-photos-show photo.id %}"><img src="{{ MEDIA_URL}}{% thumbnail_url photo.image 110 80 %}" alt="{{ photo.title|default:"Untitled" }}" /></a>
        {% if photo.title %}<h4>{{ photo.title }}</h4>{% endif %}
        {% if photo.intro %}<p class="intro">{{ photo.intro }}</p>{% endif %}
    </div>
{% endblock content_photo %}
{% endfor %}
</div>

{% endblock content %}
